name: iOS CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: macos-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Select Xcode version
        run: sudo xcode-select -switch /Applications/Xcode.app

      - name: Build the project
        run: |
          xcodebuild \
            -workspace MVVM.xcodeproj \
            -scheme MVVM \
            -sdk iphonesimulator \
            -destination 'platform=iOS Simulator,name=iPhone 15' \
            clean build

      - name: Run Unit Tests
        run: |
          xcodebuild test \
            -workspace MVVM.xcodeproj \
            -scheme MVVM \
            -sdk iphonesimulator \
            -destination 'platform=iOS Simulator,name=iPhone 15'

